
!
port-group 1/1/1
 mode eth 25g-4x
 exit
!
port-group 1/1/2
 mode eth 25g-4x
 exit
!
port-group 1/1/3
 mode eth 25g-4x
 exit
!
port-group 1/1/4
 mode eth 100g-1x
 exit
!
port-group 1/1/5
 mode eth 100g-1x
 exit
!
port-group 1/1/6
 mode eth 100g-1x
 exit
!

!

!
nve
 source-interface loopback 1
 exit
!

!

!
evpn
!
 evi 1010
  vni 1010
  rd auto
  route-target 1010:1 both
!
 evi 1020
  vni 1020
  rd auto
  route-target 1020:1 both
!
 evi 999
  vni 999
  rd auto
  route-target 999:1 both
!
 router-mac 00:01:02:03:04:01
!
 vrf Vrf1
  vni 3000
  route-target 65535:30000 both
  advertise ipv4 connected
  advertise ipv4 bgp
  exit
!
ip virtual-router mac-address 00:00:00:11:22:01
!
!	
Virtual-network 1010
 description vlan:1010_extended_to_switches:os10-LEAF-3_os10-LEAF-4
 vxlan-vni 1010
!
Virtual-network 1020
 description vlan:1020_extended_to_switches:os10-LEAF-3_os10-LEAF-4
 vxlan-vni 1020
!
Virtual-network 999
 description vlan:999_extended_to_switches:os10-LEAF-3_os10-LEAF-4
 vxlan-vni 999
 exit
!
!
interface Vlan 999
 virtual-network 999
 mtu 9216
!
interface Vlan 1010
 virtual-network 1010
 mtu 9216
!
interface Vlan 1020
 virtual-network 1020
 mtu 9216
!
interface Vlan 4000
 mtu 9216
!
vlt-domain 12
 backup destination 10.204.11.139
 discovery-interface ethernet1/1/9
 discovery-interface ethernet1/1/10
 discovery-interface ethernet1/1/11
 discovery-interface ethernet1/1/12
 peer-routing
 vlt-mac 00:00:00:00:00:01
!

!

!
uplink-state-group 1
 name "Virtual-switch-fail-over"
 enable
 downstream ethernet1/1/1
 downstream ethernet1/1/2
 downstream ethernet1/1/4
 downstream ethernet1/1/8
 upstream ethernet1/1/3
 upstream VLTi
!

!
